<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.henry.dao.NoteMapper">
	<resultMap type="Note" id="BaseResultMap">
		<id column="nid" property="id" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
		<association property="notebook" javaType="Notebook">
			<id column="nbid" property="id" jdbcType="INTEGER"/>
			<result column="name" property="name" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select nb.nbid, nb.name,
			n.nid,n.title,n.content,n.createtime,n.updatetime,n.status
		from note n,notebook nb
		where nb.nbid = n.notebook_id and n.nid = #{id, jdbcType=INTEGER}
	</select>
	
	<!-- 多对一的方式选择一个用户所有的笔记  -->
  	<select id="selectByStatusAndUserId" parameterType="Note" resultMap="BaseResultMap">
		select n.nid,n.title,n.content,n.createtime,n.updatetime,n.status
		from note n, user u
		where u.id = n.user_id and n.status = #{status, jdbcType=TINYINT} and n.user_id = #{user.id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from note
		where nid = #{id, jdbcType=INTEGER}
	</delete>
	
	<update id="updateStatusById" parameterType="java.lang.Integer">
		update note
		set status = 0
		where nid = #{id, jdbcType=INTEGER} 
	</update>
	
	<update id="updateByIdSelective" parameterType="Note">
		update note
		<set>
			<if test="title != null">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime, jdbcType=TIMESTAMP},
			</if>
			<if test="notebook != null">
				<if test="notebook.id != null">
					notebook_id = #{notebook.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="content != null">
				content = #{content, jdbcType=LONGVARCHAR},
			</if>
		</set>
		where nid = #{id, jdbcType=INTEGER}
	</update>
	
 	<insert id="insertSelective" parameterType="Note">
		insert into note
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="title != null" >
			     title,
			</if>
			<if test="content != null" >
				content,
			</if>
			<if test="createtime != null" >
				createtime,
			</if>
			<if test="updatetime != null" >
				updatetime,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="notebook != null">
				<if test="notebook.id != null">
					notebook_id,
				</if>
			</if>
			<if test="user != null">
				<if test="user.id != null">
					user_id,
				</if>
			</if>
		</trim>
		
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="title != null" >
				#{title, jdbcType=VARCHAR},
			</if>
			<if test="content != null" >
				#{content, jdbcType=LONGVARCHAR},
			</if>
			<if test="createtime != null" >
				#{createtime, jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null" >
				#{updatetime, jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status, jdbcType=TINYINT},
			</if>
			<if test="notebook != null">
				<if test="notebook.id != null" >
					#{notebook.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="user != null">
				<if test="user.id != null">
					#{user.id, jdbcType=INTEGER},
				</if>
			</if>
	    </trim>
	</insert>
	
</mapper>