<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.henry.dao.NotebookMapper">
	<resultMap type="Notebook" id="BaseResultMap">
		<id column="nbid" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="count" property="count"/>
		<association property="user" javaType="User">
			<id column="id" property="id" jdbcType="INTEGER"/>
			<result column="username" property="username" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
	<sql id="Base_Column_List" >
		u.id,u.username,nb.nbid,nb.name,nb.createtime
	</sql>
	
	<select id="selectiveSelect" resultMap="BaseResultMap" parameterType="Notebook">
		select
		<include refid="Base_Column_List"></include>
		from user u, notebook nb
		 <trim prefix="where" prefixOverrides="and|or">
		 	nb.user_id = u.id  
			<if test="id != null">
				and nb.nbid = #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and nb.name = #{name,jdbcType=VARCHAR} 
				and u.id = #{user.id,jdbcType=INTEGER}
			</if>
			<!-- 多对一查询 查出用户的所有笔记本 -->
			<if test="user != null">
				<if test="user.id != null">
					and u.id = #{user.id,jdbcType=INTEGER}
				</if>
			</if>
		</trim>
	</select>
		
	<select id="countNotesById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		 select count(*) from notebook nb,note n where nb.nbid = n.notebook_id and nb.nbid = #{id, jdbcType=INTEGER} and n.status = 1
	</select>
	
	<!-- 用于一对多查询notebook下的note-->
	<resultMap type="Notebook" id="NotesResultMap">
		<id column="nbid" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<collection property="notes" ofType="Note">
			<id column="nid" property="id" jdbcType="INTEGER"/>
			<result column="title" property="title" jdbcType="VARCHAR"/>
			<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
		</collection>
	</resultMap>
	
	<select id="selectNotesById" resultMap="NotesResultMap" parameterType="java.lang.Integer">
		select
		nb.nbid,nb.name,n.nid,n.title,n.updatetime	 
		from notebook nb, note n
		where nb.nbid = n.notebook_id and nb.nbid = #{id,jdbcType=INTEGER} and n.status = 1
	</select>
		
	<insert id="insert" parameterType="Notebook">
		insert into notebook 
		(name, createtime, user_id)
		values (#{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{user.id,jdbcType=INTEGER})
	</insert>	
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from notebook
		where nbid = #{id,jdbcType=INTEGER}
	</delete>
</mapper>